@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-primary-blue: #009DE0;
  --color-dark-slate: #46555F;
  --color-light-gray: #D2D3D4;
  --color-background: #ffffff;
  --color-foreground: #46555F;

  --font-sans: var(--font-source-sans);
  --font-heading: "Klavika", var(--font-source-sans), sans-serif;
}

@font-face {
  font-family: 'Klavika';
  src: local('Helvetica Neue'), local('sans-serif');
  /* Dummy structure waiting for font files */
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}